/* body {
  height: 100%;
  border: solid 3px pink;

} */
main {
  font-family: "monospace", "monaco";
  border: solid 3px black;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.human-section,
.computer-section {
  background-color: rgb(242, 245, 50);
  border: solid 3px black;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.human-emoji,
.computer-emoji {
  width: 150px;
  height: 150px;
}

.human-wins,
.computer-wins {
  /* border: solid 3px green; */
  font-size: 30;
}

.change-game {
  background-color: black;
  color: rgb(228, 216, 53);
}

.main-section {
  background-color: rgb(228, 216, 53);
  width: 60%;
  border: solid 3px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* margin-bottom: 200; */
}
h1 {
  /* border: solid 3px green; */
  font-size: 48px;
  margin-bottom: 1px;
}

h2 {
  /* border: solid 3px green; */
  font-size: 24;
}

.modern-weapons,
.classic-weapons {
  /* margin-bottom: 150px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.classic-weapons {
  /* margin-bottom: 250px; */
}

.modern-mode,
.classic-mode {
  border: solid 3px black;
  font-size: 20;
  height: 275px;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.modern-mode {
  padding-bottom: 10px;
}

.paper-emoji,
.scissors-emoji,
.ninja-emoji,
.hunter-emoji,
.rock-emoji {
  width: 200px;
  height: 200x;
  cursor: pointer;
  /* cursor: ; */
}

.winner-box {
  border: solid 3px green;
  font-size: 20;
  height: 500px;
  width: 500px;
  margin-bottom: 50px;
  display: flex;
}

.human-weapon-emoji {
  border: solid 3px orange;
  width: 50%;
  height: 100%;
}

.computer-weapon-emoji {
  width: 50%;
  height: 100%;
  border: solid 3px purple;
}

p {
  font-size: 14px;
}

.hidden {
  display: none;
}
