/* body {
  height: 100%;
  border: solid 3px pink;

} */
main {
  font-family: "monospace", "monaco";
  border: solid 3px black;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.human-section {
  background-color: rgb(223, 205, 108);
  border: solid 3px red;
  width: 20%;
}

.human-icon {
  border: solid 3px yellow;
}

.human-wins {
  border: solid 3px green;
  font-size: 20;
}

.change-game {
  background-color: black;
  color: rgb(228, 216, 53);
}

.main-section {
  background-color: rgb(228, 216, 53);
  width: 60%;
  border: solid 3px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
h1 {
  border: solid 3px green;
  font-size: 36;
  margin-bottom: 1px;
}

h2 {
  border: solid 3px green;
  font-size: 20;
}

.modern-weapons,
.classic-weapons {
  margin-bottom: 300px;
}

.modern-mode,
.classic-mode {
  border: solid 3px yellow;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.paper-emoji,
.scissors-emoji,
.ninja-emoji,
.hunter-emoji,
.rock-emoji {
  width: 125px;
  height: 125px;
  cursor: pointer;
}

.winner-box {
  border: solid 3px green;
  font-size: 20;
  height: 500px;
  width: 500px;
  margin-bottom: 50px;
  display: flex;
}

.human-weapon-emoji {
  border: solid 3px orange;
  width: 50%;
  height: 100%;
}

.computer-weapon-emoji {
  width: 50%;
  height: 100%;
  border: solid 3px purple;
}

p {
  font-size: 10px;
}

.computer-section {
  background-color: rgb(223, 205, 108);
  width: 20%;
  border: solid 3px blue;
}

.computer-icon {
  border: solid 3px yellow;
}

.computer-wins {
  border: solid 3px green;
  font-size: 20;
}

.hidden {
  display: none;
}
